body{
    
    font-family: 'Poppins', sans-serif;
    font-family: 'Schibsted Grotesk', sans-serif;
    background-image: url('images/avatar1.jpg');
    background-size: cover;
    
    }
    .container{
        position: absolute;
        transform: translate(-50%,-50%);
        top:45%;
        right: 50%;
    }
    form{
        background: transparent;
        height: 540px;
        width: 240px;
        border-radius: 20px;
        box-shadow: 10px 10px 16px -2px palevioletred,-10px -10px 16px -2px palevioletred;
        border: 2px solid white;
        text-align: center;
        padding: 2em;
        margin-bottom: 6em;
    
    }
    p{
        color:white;
        margin-top: 0em;
        font-size: 24px;
        font-weight: 300;
    }
    input{
        width: 170px;
        border: none;
        border-radius: 5000px;
        padding: 1em;
        background: black;
        box-shadow: inset 4px 4px 6px transparent,inset -4px -4px 6px transparent ;
        border: 2px solid black;
        margin-bottom: 2em;
        color: white;
        font-family: 'poppins',sans-serif;
        font-weight: 400;
    }
    .btnstyle{
        width: 170px;
        border: none;
        border-radius: 5000px;
        padding: 1em;
        background: black;
        box-shadow: inset 4px 4px 6px purple,inset -4px -4px 6px purple;
        margin-bottom: 2em;
        color: black;
        font-family: 'poppins',sans-serif;
        font-weight: 400;

    }
    .btnstyle{
        width: 100px;
        box-shadow: 4px 4px 6px transparent,-4px -4px 6px transparent;
        margin-top: 1em;
        color: blue;
        font-family: 'poppins',sans-serif;
        font-weight: 400;
    }
    .btnstyle:hover{
        background-color: aqua;
        color: black;
    }
    input:hover{
        cursor: pointer;
    }
    input:active{
        box-shadow: inset 4px 4px 6px #ccc,inset -4px -4px 6px #fff ;
    }
    input:focus{
        outline: none;  
    }
    ::-moz-placeholder{
        font-family: 'poppins',sans-serif;
        font-weight: 500;
        color: #fff;
    }
    ::placeholder{
        font-family: 'poppins',sans-serif;
        font-weight: 500;
        color: #fff;
    }
    a{
        text-decoration: none;
        margin-top: 80px;
        font-size: 15px;
        transition: all 0.2s ease-in-out;
        color: aqua;
        
       
    }
    a:hover{
        color: red;
    
    }
    a:active{
        color: #ccc;
    }
    a:focus{
        outline: none;
    }